body {
    margin: 0;
    padding: 0;
    
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    background-image: url("img/background-photo.jpg");
    background-position: tpp center;
    background-repeat: no-repeat;
}

ul {
    list-style: none;
}

/*----------Внутренняя страница---------- */
.inner-page body{
    color: #000000;
  
    background-color: #f9f6f3;
    background-position: 0 0;
    background-repeat: repeat;
}


.inner-navigation {
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
  
}

.inner-navigation a{
    color: #000000;
    
}

.site-navigation-current {
    color: gray;
    list-style: none;  
}

.inner-navigation a:hover,
.inner-navigation a:focus {
    color: #81b3d2;
}

.inner-navigation a:active{
    color: #6B6D6B;
}

.button-brown {
    font: inherit;
  
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
  
    background-color: #766357;;
    border: none;
}

.button-brown:hover,
.button-brown:focus {
    background-color: #604e43;
}

.button-brown:active {
    background-color: #503e33
}



/*---------------------------------*/


/* Логотип*/
div .welcome-svg {
    width: 45%;
    position:relative;
    display:block;
    margin:auto;
    top: -1000px;
}


/*ссылки*/
a {
    text-decoration: none;
    color: inherit;
}
/* кнопки */
.button {
    font: inherit;
  
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
  
    background-color: #81b3d2;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #669ec0;
}

.button:active {
    background-color: #5496bd
}

/*Навигация*/
.main-navigation {
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
  
}

.main-navigation a{
    color: #000000
}

.main-navigation a:hover,
.main-navigation a:focus {
    color: #81b3d2;
}

.main-navigation a:active{
    color: #6B6D6B;
}
/* Преимущества */
.features-list {
    list-style: none;
}

.features-list {
    text-align: center;
}
  
.features-list p {
    font-size: 21px;
    text-align: center;
}

.features-list p:nth-child(2) {
    color:#6B6D6B;
    font-size: 14px;
    text-align: center;
}

.img-Layer-10 {
    text-align: right;
}

.appointment-item input {
    font: inherit;     
    background-color: transparent;
    border: 2px solid #000000;
}

/*Выбор гостинец */
.Search-hotels{
    text-align: center;
}

.Search-hotels p {
    color:#6B6D6B;
    font-size: 14px;

}

.Search-hotels h3 {
    font-size: 30px;
}

/* Форма */
.filters input {
    font: inherit;
  
}

.filters {
    border: 0px solid ;
    width: 575px;
    height: 395px;
    margin:0 auto;
    position: relative;
    top: 395px;
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
    background: #ffffff
}



.h3-search {
    border: 1px solid  #000000;
    width: 575px;
    height: 86px;
    margin:0 auto;
    background-color: #766357;
    text-align: center;
    position: relative;
    top: 395px;
}

/* Подвал */

footer {
    background-color: #ffffff
}

div .social {
    padding-left: 20px;
    
}

.social a {
    background: #81b3d2;
    text-decoration: none;
    font-size: 23px;
    line-height: 20px;
    color: #ffffff;
    padding: 12px 7px;
    margin-left: 6px;
}


