
body {
    width: 1200px;   
    margin: 0 auto;
    padding:0 10px;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
   
    background-position: top center;
    background-repeat: no-repeat;
}

.wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  }

/*----------Внутренняя страница----------*/
.inner-page body{
    color: #000000;
    
    background-color: #f9f6f3;
    background-position: 0 0;
    background-repeat: repeat;
}


.inner-navigation {
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
  
}

.inner-navigation a{
    color: #000000;
    
}

.site-navigation-current {
    color: gray;
    list-style: none;  
}

.inner-navigation a:hover,
.inner-navigation a:focus {
    color: #81b3d2;
}

.inner-navigation a:active{
    color: #6B6D6B;
}

.button-brown {
    font: inherit;
  
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
  
    background-color: #766357;;
    border: none;
}

.button {
    font: inherit;
    
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    
    background-color: #81b3d2;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #669ec0;
}

.button:active {
    background-color: #5496bd
}

.button-brown:hover,
.button-brown:focus {
    background-color: #604e43;
}

.button-brown:active {
    background-color: #503e33
}

.catalog-list {
    list-style-type: none;
}

.catalog-item{
    display: flex;
    min-height: 90px;
    padding:0px;
}

.item-description{
    margin-left: 30px;
}

.stars{
    background-image: url("../img/inner/star.svg");
    background-repeat:repeat;
    width: 70px;
    height: 18px;
    margin-bottom:47px;
    
}

.eight{
    width:55px
}

.nine{
    width:35px;
    
}

.rating{
    transform:translateX(505px);
}

.button,
.button-brown{
    display:inline-block;
    margin-right: 2px;
    padding:2px 16px 2px 16px;
    font:inherit;
    text-align:center;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 14px;
    font-family: PT Sans;
}

.item-description p:last-child{
    width: 77px;
    height: 12px;
    font-family: PT Sans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}

.rating p:nth-child(2){
    width: 110px;
    height: 27px;
    background-color:#f2f2f2;
}

.rating b{
    width: 81px;
    height: 16px;
    font-family: PTSans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
}


/*
.contoiner-inner{
    width: 1200px;
    height: 540px;
}

.catalog-itm-image{
    order: -1;
}

.catalog-item-inner{
    display: flex;
    background: #575757;
}

.catalog-item-inner .catalog-item-price{
    display: flex;
    flex-direction: reverse;
    flex-direction: column;
    align-self: flex-end;
    
}

.catalog-item{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}



.catalog-itm-image{
    align-self: center;
}
*/



/*---------------------------------*/

/*-----Главное фото-------*/

.promo{
    background: url(../img/background-photo.jpg);
    background-size:cover;
    min-height: 500px;
    
}

.photo-polygon{
    transform: translatey(90px);
}



/* Логотип*/
.logo-svg {
    width: 139px;
    height: 71px;
    
    display: block;
    left: 50%;
    position: absolute;
    margin-left: -50px;
}



.welcome-svg {
    width: 458px;
    height: 352px;
    margin:auto;  
    transform: translatey(62px);
}



/*ссылки*/
a {
    text-decoration: none;
    color: inherit;
}

img{
    max-width:100%;
    height:auto;
}

.visually-hidden:not(:focus):not(:active){
    position:absolute;
    width:1px;
    height: 1px;
    border:0;
    padding:0;
    white-space: nowrap;
    clip-path:inset(100%);
    clip:rect(0 0 0 0);
    overflow:hidden;
}

/*кнопки*/
.button {
    font: inherit;
  
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
  
    background-color: #81b3d2;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #669ec0;
}

.button:active {
    background-color: #5496bd
}

/*-------------------------Навигация---------------------------*/
.main-navigation {
    
    font-size: 14px;
    line-height: 20px;
    background-color: #ffffff;
   
}

.main-navigation a{
    color: #000000
}

.main-navigation a:hover,
.main-navigation a:focus {
    color: #81b3d2;
}

.main-navigation a:active{
    color: #6B6D6B;
}

/* Преимущества */
.featur {
    
    list-style: none;
}

.featur {
    text-align: center;
}
  
.featur p {
    font-size: 21px;
    text-align: center;
}

.featur p:nth-child(2) {
    color:#6B6D6B;
    font-size: 14px;
    text-align: center;
}

.img-Layer-10 {
    text-align: right;
}


.appointment-item input {
    font: inherit;     
    background-color: transparent;
    border: 2px solid #000000;
}

.img-Layer-10 {
    width: 800px;
    height: 256px;
    margin-left: auto;
    margin-right: 0;
}

/*Выбор гостинец */
.search-hotels{
    text-align: center;
}

.search-hotels p {
    color:#6B6D6B;
    font-size: 14px;

}

.search-hotels h3 {
    font-size: 30px;
}





/* Подвал  

.footer {
    background-color: #ffffff
}

div .social {
    padding-left: 20px;
    
}

.social a {
    background: #81b3d2;
    text-decoration: none;
    font-size: 23px;
    line-height: 20px;
    color: #ffffff;
    padding: 12px 7px;
    margin-left: 6px;
}



*/

 /*----- Сеточные стили ----- */

/*------------Навигация------------*/
 .site-navigation {
    display:flex;
    flex-wrap:wrap;
    min-width:1200px;
    list-style-type: none;
}

.site-navigation a{
    display: inline-block;
    padding:22px 0 0px;
    text-align:center;
    min-width: 239px;
    text-decoration: none;
    
}



.site-navigation li:nth-child(2){
    padding-right: 122px;
}

.site-navigation li:nth-child(3){
    padding-left: 122px;
}

/*
nav a:nth-child(3) {
    width:244px;
    padding-top:22px;
}
*/ 
/*----------------Преиму́щества ---------------------*/
.featur {
    padding: 50px 0;
}

.featur p{
  width: 500px;
  height: 48px;
  font-family: PTSans;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  padding-left:  380px;
  page-break-after: auto;
}

.featur p:last-child {
    width: 600px;
    height: 13px;
    font-family: PTSans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    margin: 0 auto;
    padding:0 10px;
    margin-top: 38px;
}

.features-list {
    
    list-style-type: none;
}



.box{
    display: flex;

}



.box-2{
    
    width: 400px;
    height: 256px;
    background-color: #81b3d2;
    
}
/**/
.box-3{
    width: 280px;
    height: 146px;
    font-family: PT Sans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 46px 60px 64px 60px;
    
}

.box-3 h2{
    font-size: 21px;
    font-weight: bold;
}

.box-3 p{
    font-family: PT Sans;
    font-size: 14px;
    text-align: center;
}

/*-------------------------*/

.box-1{
    display: flex;
}

.box2  {
  width: 400px;
  height: 256px;
  background-color: #81b3d2;
}


/**/
.dox3{
    
    width: 303px;
    height: 142px;
    font-family: PT Sans;
    
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 49px 49px 65px 49px;
}

.dox3 h2{
    font-size: 21px;
    font-weight: bold;
}

.dox3 p{
    font-family: PT Sans;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
}



.features-container{
    display:flex;
}




.features-container1 li{
    width: 252px;
    height: 84px;
    font-family: PT Sans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    list-style: none;
    
}



.features-container1 h2{
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.features-food{
    width: 284px;
    height: 79px;
    font-family: PT Sans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    list-style: none;
}

.features-food h2{
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.features-souvenir{
    width: 273px;
    height: 80px;
    font-family: PT Sans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    list-style: none;
}

.features-souvenir h2{
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.features-container ul{
    margin:60px 0px 85px 73px; 
}

.square{
    width: 400px;
    height: 256px;
    border: 1px solid black;
}




.squarea3{
    width: 208px;
    height: 143px;
    font-family: PT Sans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    list-style: none;
    margin:auto;
   
}

.squarea3>:nth-child(1){
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}



.road2{
    width: 262px;
    height: 142px;
    font-family: PT Sans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    list-style: none;
    margin: auto;
}

.road2 h2{
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.tourist{
    width: 246px;
    height: 142px;
    font-family: PT Sans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    list-style: none;
    margin: auto;
}

.tourist h2{
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.square4{
    display:flex;
}

/*-----------------Выбор Гостиниц-------------------*/

.hotels-info{
    width: 434px;
    height: 96px;
    
    text-align: center;
    margin: 57px 383px 52px 383px;   
   
}



.hotels-info p{
    font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  color: #000000;
  
  
}

.hotels-info p:last-child{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
}

/*-----------------------------------------------------------------*/


.search-hotels {
    border: 1px solid  #000000;
    width: 568px;
    height: 86px;
    margin:0 auto;
    background-color: #766357;
    
}

.search-hotels h3{
   
    font-family: PTSans;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 30px 0px 30px;

}

/*-------------Фрома----------*/

.filters {
    font: inherit;
  
}

.filters{
    border: 0px solid ;
    width: 568px;
    height: 395px;
    margin:0 auto;
    position: relative;
    
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
    background: #ffffff
}


.filters{
    width: 568px;
    height: 481px;
    
    margin: 0 auto;
    padding:0 10px;
}

/*---------------footer-------------*/
.footer{
    width: 1200px;   
    margin: 0 auto;
    padding:0 10px;
    border: 3px solid green;
    display: flex;
    height: 120px;
    display:flex;
    position: absolute;
    transform: translatey(-120px);
    background: #ffffff;
}




.footer p {
    width: 136px;
    margin: 0;
    min-height: 16px;
    margin-right: 256px;
    border: 3px solid brown;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    margin: 0 auto;
    padding: 0;
  
    list-style: none;
  }

.footer-social  {
    display: block;
    margin-bottom: 15px;
  }

.social-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    
    background:#81b3d2;
    
    
    line-height: 46px;
    
    
    
}





.logo-HtmlAcademy {
    width: 188px;
    margin:0;
    min-height: 40px;
    margin-left: 102px;
    border: 3px solid brown;
}



